{% extends 'base.html' %}

{% block title %} Edit Record {% endblock %}

{% block page %}
<div class="page-container">
    <div class="items-container">
        <div class="page-header">
        </div>
        <div class="login-container">
            <div class="login-header">
                <h4>
                    <img src="{{ url_for('static', filename = 'images/edit.png') }}"
                        class="d-inline-block align-text-top">
                    編輯記帳
                </h4>
            </div>
            <div class="form-container">
                <form class="row g-3" action="{{ url_for('main.edit_record', id = record.id) }}" method="POST">
                    <div class="mb-3">
                        <label for="type" class="form-label">分類</label>
                        <select class="form-select" aria-label="Default select example" name="select_type">
                            {% for r_type in r_types %}
                            {% if r_type == record.type %}
                            <option value="{{ r_type.id }}" selected>{{ r_type.name }}</option>
                            {% else %}
                            <option value="{{ r_type.id }}">{{ r_type.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="select_project" class="form-label">專案</label>
                        <select class="form-select" aria-label="Default select example" name="select_project">
                            <option value="0" selected>無</option>
                            {% for project in projects %}
                            {% if project == record.project %}
                            <option value="{{ project.id }}" selected>{{ project.name }}</option>
                            {% else %}
                            <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="select_in_out" class="form-label">收入或支出</label>
                        <select class="form-select" aria-label="Default select example" name="select_in_out">

                            {% if is_in %}
                            <option value="0">支出</option>
                            <option value="1" selected>收入</option>
                            {% else %}
                            <option value="0" selected>支出</option>
                            <option value="1">收入</option>
                            {% endif %}

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">名稱</label>
                        <input type="text" class="form-control" id="name" name="name" value={{record.name}} required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">價格</label>
                        <input type="number" class="form-control" id="price" name="price" value="{{ pprice }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">備註</label>
                        <input type="text" class="form-control" id="desc" name="desc" value="{{ record.desc}} ">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">日期</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-success">
                            <img src="{{ url_for('static', filename = 'images/edit.png') }}" width="24" height="24"
                                class="d-inline-block align-text-top">
                            更新
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    // NOTE 使用 ChatGPT
    // 取得目前日期
    var currentDate = new Date();

    // 轉成 UTC8
    var utcOffset = 8;
    var utcOffsetMilliseconds = utcOffset * 60 * 60 * 1000;
    var utcPlus8Date = new Date(currentDate.getTime() + utcOffsetMilliseconds);

    // 轉換格式成 YYYY-MM-DD
    var formattedDate = utcPlus8Date.toISOString().split('T')[0];

    // 設定默認日期
    document.getElementById('date').value = formattedDate;
</script>
{% endblock %}