{% extends 'base.html' %}

{% block title %} 種類一覽 {% endblock %}


{% block page %}
<div class="page-container">
    <div class="page-header">
        <h2>
            <img src="{{ url_for('static', filename = 'images/collection.png') }}"
                class="d-inline-block align-text-top">
            記帳種類
        </h2>
    </div>

    <div class="items-container">
        <div class="mb-3">
            <a href="{{ url_for('main.add_record_type') }}" class="btn btn-outline-primary" role="button">
                <img src="{{ url_for('static', filename = 'images/add.png') }}" width="24" height="24"
                    class="d-inline-block align-text-top">
                新增一個種類
            </a>
        </div>

        {% if not types %}
        <h4>還沒有任何分類</h4>
        {% endif %}
        <ul class="list-group">
            {% for t in types %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><a href="{{ url_for('main.record_type', id=t.id) }}">名稱: {{ t.name }}</a> </h5>
                </div>
                <small>
                    備註:
                    {% if t.desc %}
                    {{ t.desc }}
                    {% else %}
                    無
                    {% endif %}
                </small>
                <div class="d-flex justify-content-start">
                    <a href="{{ url_for('main.edit_record_type', id = t.id )}}" class="btn btn-outline-success"
                        role="button">
                        <img src="{{ url_for('static', filename = 'images/edit.png') }}" width="24" height="24"
                            class="d-inline-block align-text-top">
                        編輯
                    </a>
                    <a href="#" class="btn btn-outline-danger" role="button" data-bs-toggle="modal"
                        data-bs-target="#typeDeleteModal">
                        <img src="{{ url_for('static', filename = 'images/delete.png') }}" width="24" height="24"
                            class="d-inline-block align-text-top">
                        刪除
                    </a>
                </div>

                <div class="modal fade" id="typeDeleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">確定要刪除分類: {{ t.name }} 嗎？</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                注意 ** 會連帶把屬於這個分類的記帳紀錄也一起刪除 ** ，
                                刪除後就無法復原喔！
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{ url_for('main.delete_record_type', id = t.id) }}"
                                    class="btn btn-outline-danger" role="button">確定刪除</a>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}