{% extends 'base.html' %}

{% block title %} 種類一覽 {% endblock %}


{% block page %}
<div class="page-container">
    <div class="page-header">
        <h2>記帳種類</h2>
    </div>

    <div class="items-container">
        <a href="{{ url_for('main.add_record_type') }}" class="btn btn-outline-success" role="button">新增一個種類</a>
        <ul class="list-group">
            {% for t in types %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">名稱: {{ t.name }} </h5>
                </div>
                <small>
                    備註:
                    {% if t.desc %}
                    {{ t.desc }}
                    {% else %}
                    無
                    {% endif %}
                </small>
                <div class="d-flex justify-content-start">
                    <a href="{{ url_for('main.edit_record_type', id = t.id )}}" class="btn btn-outline-primary"
                        role="button">編輯</a>
                    <a href="#" class="btn btn-outline-danger" role="button">刪除</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}