{% extends 'base.html' %}

{% block title %} 記帳紀錄 {% endblock %}


{% block page %}
<div class="page-container">
    <div class="page-header">

        <h2>
            <img src="{{ url_for('static', filename = 'images/record.png') }}" class="d-inline-block align-text-top">
            記帳紀錄
        </h2>
    </div>

    <div class="items-container">
        <div class="mb-3">
            <a href="{{ url_for('main.add_record') }}" class="btn btn-outline-primary" role="button">
                <img src="{{ url_for('static', filename = 'images/add.png') }}" width="24" height="24"
                    class="d-inline-block align-text-top">
                新增一筆記帳
            </a>
        </div>

        {% if not records %}
        <h4>還沒有任何紀錄</h4>
        {% endif %}
        <ul class="list-group">
            {% for r in records %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">名稱: {{ r.name }} </h5>
                    <small>{{ r.date }}</small>
                </div>
                <p class="mb-1">$ {{ r.price}}</p>
                <p class="mb-1">分類: <a href="{{ url_for('main.record_type', id=r.type.id) }}">{{ r.type.name }}</a></p>
                <p class="mb-1">專案:
                    {% if r.project %}
                    <a href="{{ url_for('main.project', id=r.project.id)}}">{{ r.project.name }}</a>
                    {% else %}
                    無
                    {% endif %}
                </p>
                <small>
                    備註:
                    {% if r.desc %}
                    {{ r.desc }}
                    {% else %}
                    無
                    {% endif %}
                </small>
                <div class="d-flex justify-content-start">
                    <a href="{{ url_for('main.edit_record', id=r.id) }}" class="btn btn-outline-success" role="button">
                        <img src="{{ url_for('static', filename = 'images/edit.png') }}" width="24" height="24"
                            class="d-inline-block align-text-top">
                        編輯
                    </a>
                    <a href="{{ url_for('main.delete_record', id=r.id) }}" class="btn btn-outline-danger" role="button">
                        <img src="{{ url_for('static', filename = 'images/delete.png') }}" width="24" height="24"
                            class="d-inline-block align-text-top">
                        刪除
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}