body {
    font-family: 'Shippori Antique', sans-serif;
}

.container {
    width: 960px;
}

.wrap {
    width: 960px;
    margin: auto;
}

.alert-container {
    margin-top: 10px;
    width: 100%;
}

body {
    margin-bottom: 70px;

}

.page-header {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.index {
    text-align: center;
}